<!DOCTYPE html>
<html>
<head>
<title>Daftar Artikel</title>
</head>
<body>
<h1>Daftar Artikel</h1>
<a href="/admin/artikel/tambah">Tambah Artikel</a>
<ul>
    <% artikel.forEach(function(artikel) { %>
    <li>
        <%= artikel.judul %> (<%= artikel.admin.nama %>)
        <br>
        Kategori: <%= artikel.kategori %>
        <br>
        <a href="/admin/artikel/ubah/<%= artikel.id %>">Ubah</a>
        <a href="/admin/artikel/hapus/<%= artikel.id %>" onclick="return confirm('Apakah Anda yakin ingin menghapus artikel ini?')">Hapus</a>
    </li>
    <% }) %>
</ul>
</body>
</html>