<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/output.css">
    </head>
    <body>
        <%- include('../layout/dashboard') %>

        <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
            <div class="max-w-2xl mx-auto text-center mb-10">
                <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Laporan Pengunjung</h2>
                <p class="mt-1 text-gray-600 dark:text-gray-400">Rangkuman dari statistik pengunjung</p>
            </div>
    
            <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
                <!-- Total Sessions -->
                <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                    <div class="p-4 md:p-5">
                        <div class="flex items-center gap-x-2">
                            <p class="text-xs uppercase tracking-wide text-gray-500">
                                Total Pengunjung
                            </p>
                        </div>
                        <div class="mt-1 flex items-center gap-x-2">
                            <h3 class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-gray-200">
                                <%= totalSessions %>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- End Total Sessions -->
    
                <!-- Active Sessions -->
                <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                    <div class="p-4 md:p-5">
                        <div class="flex items-center gap-x-2">
                            <p class="text-xs uppercase tracking-wide text-gray-500">
                                Pengunjung Aktif
                            </p>
                        </div>
                        <div class="mt-1 flex items-center gap-x-2">
                            <h3 class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-gray-200">
                                <%= activeSessions %>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- End Active Sessions -->
    
                <!-- Recent Sessions -->
                <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                    <div class="p-4 md:p-5">
                        <div class="flex items-center gap-x-2">
                            <p class="text-xs uppercase tracking-wide text-gray-500">
                                Total Pengunjung (Dalam 24 Jam Terakhir)
                            </p>
                        </div>
                        <div class="mt-1 flex items-center gap-x-2">
                            <h3 class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-gray-200">
                                <%= recentSessions %>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- End Recent Sessions -->
            </div>
    
            <!-- User Type Distribution -->
            <div class="mt-6">
                <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                    <div class="p-4 md:p-5">
                        <h3 class="text-lg font-bold text-gray-800 dark:text-white">Distribusi Tipe Pengguna</h3>
                        <div class="mt-4 flex items-center gap-5">
                            <div>
                                <p class="text-xs text-gray-500 dark:text-gray-400">Jumlah Sesi Admin</p>
                                <p class="text-xl font-semibold text-gray-800 dark:text-gray-200"><%= adminSessions %></p>
                            </div>
                            <div>
                                <p class="text-xs text-gray-500 dark:text-gray-400">Jumlah Sesi Alumni</p>
                                <p class="text-xl font-semibold text-gray-800 dark:text-gray-200"><%= alumniSessions %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End User Type Distribution -->
        </div>
                        <!-- JS PLUGINS -->
<script src="/node_modules/preline/dist/index.js"></script>

    </body>
</html>